<app-header></app-header>

<nav>
    <ul>
      <li><a routerLink="/register" routerLinkActive="active">REGISTER</a></li>
      <li><a routerLink="/role" routerLinkActive="active">ROLE</a></li>
      <li><a routerLink="/simpleInterest" routerLinkActive="active">SIMPLE INTEREST</a></li>
      <li><a routerLink="/countries" routerLinkActive="active">COUNTRIES</a></li>


    </ul>
  </nav> 
  
<router-outlet></router-outlet>

<h3>The employee details can be found below: </h3>

<!-- {{employees | json}} -->

<div class="container">
    <div style="text-align: center;">
        <button type="button" (click)="toggleTable()">{{tableStatus}}</button>
        <!-- <button type="button" (click)="toggleTable()">{{tableStatus}}</button> -->
    </div>

    <table border="3" class="empTable" *ngIf="tableShow">
        <thead>
            <tr>
                <th>SL.NO</th>
                <th>ID</th>
                <th>NAME</th>
                <th>EMAIL</th>
                <th>USERNAME</th>
                <th>PHONE</th>
                <th>WEBSITE</th>
                <th>AGE</th>
                <th>ZIPCODE</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let emp of (employees | nameSort); let i = index">
                <td>{{i+1}}</td>
                <td>{{emp.id}}</td>
                <td>{{emp.name | uppercase}}</td>
                <td>{{emp.email}}</td>
                <td>{{emp.username}}</td>
                <td>{{emp.phone}}</td>
                <td>{{emp.website}}</td>
                <td>{{emp.DOB | dateToAge}}</td>
                <td>{{emp.address.zipcode}}</td>

            </tr>
        </tbody>
    </table>
</div>






<!-- <app-select-component></app-select-component>
<app-simple-interest></app-simple-interest> -->


<!-- <app-countries></app-countries> -->

<!-- <app-parent></app-parent>
<app-child></app-child> -->


<!-- <app-aadhar></app-aadhar> -->

<!-- <app-registration-form></app-registration-form> -->


<!-- <app-footer></app-footer> -->